
import("AlphaSimR")
import("crayon")
import("methods")

importFrom("stats", "as.formula")
importFrom("graphics", "legend", "par")

export( "evolafit", "pmonitor", "pareto", "varM", "bestSol", "A.mat")


