
import("AlphaSimR")
import("Matrix")
import("crayon")
import("methods")

importFrom("grDevices", "as.raster", "col2rgb", "colorRampPalette",
             "rgb")
importFrom("graphics", "axis", "grid", "layout", "lines", "points",
             "rasterImage", "text", "legend", "par")
importFrom("stats", "na.omit", "quantile", "var", "as.formula","model.matrix",
           "median","rnorm", "aggregate","runif","getCall","update.formula",
           "formula")

export( "evolafit", "pmonitor", "pareto", "varQ", "bestSol", "A.mat", 
        "stan", "logspace", "addZeros", "Jc", "Jr", "freqPosAllele",
        "overlay", "ocsFun", "ocsFunC", "regFun", "inbFun", "nQtl", "importHaploSparse",
        "drift"
        )

# export(
#       "update.evolaFitMod",
#       "summary.Pop"
#       )
# S3 METHODS 
# S3method(update, evolaFitMod)
S3method(summary, Pop)


