
import("AlphaSimR")
import("Matrix")
import("crayon")
import("methods")

importFrom("grDevices", "as.raster", "col2rgb", "colorRampPalette",
             "rgb")
importFrom("graphics", "axis", "grid", "layout", "lines", "points",
             "rasterImage", "text", "legend", "par")
importFrom("stats", "na.omit", "quantile", "var", "as.formula","model.matrix")

export( "evolafit", "pmonitor", "pareto", "varM", "bestSol", "A.mat", "stan", "Jc", "Jr",
        "overlay")


